---
import Layout from '../layouts/Layout.astro';
import DashboardComponent from '../components/DashboardComponent.svelte';
---

<Layout title="Dashboard">
	<main class="containers">
		<DashboardComponent client:only="svelte" />
	</main>
</Layout>
