---
import Layout from '../layouts/Layout.astro';
import Query from '../components/Query.svelte';
---
    
<Layout title="Visualization Project">
	<main class="containers">
        <Query client:only="svelte" />
	</main>
</Layout>

