---
import '../styles/globals.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/css/pico.classless.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="/"><strong>Visualization Project</strong></a>
					</li>
				</ul>
				<ul>
					<li><a href="/dashboard">Dashboard</a></li>
					<li><a href="/playground">Playground</a></li>
					<li>
						<a
							href="https://github.com/hansaskov/visualization-project"
							>Github</a
						>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
		<footer class="text-center">&copy; 2024 Hans Askov</footer>
	</body>
</html>
